@media (max-width: 952px) {
    label .logo {
        font-size: 3rem;
        padding-left: 5rem;
    }

    .menu ul li a {
        font-size: 1.3rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100vw;
        height: auto;
        background-image: linear-gradient(#042d62, #164590);
        top: 8rem;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .menu ul li {
        display: block;
        margin: 5rem 0;
        line-height: 0.5rem;
    }

    .menu ul li a {
        font-size: 1.4rem;
        text-transform: none;
    }

    a:hover,
    a.active {
        background: none;
        color: #131212;
    }

    #check:checked~ul {
        left: 0;
    }

    .menu ul li:hover {
        background-image: linear-gradient(royalblue, rgba(32, 148, 194, 0.644));
        padding: 0.5rem 1.3rem;
        transition: all 0.5s ease;
        border: 1px solid royalblue;
    }

    .banner-left img {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        display: block;
        height: auto;
        padding: 1rem;

        padding-top: 2rem;

    }

    .focoused-on-peraghrap {
        font-size: 1.6rem;

    }

    .section_wrapper {
        width: 100%;
        display: block;
        margin-left: 0;

    }

    .mission-2022-outer {
        width: 100%;
        display: block;
        height: auto;
        padding: 1rem 3rem;
        margin-top: 2rem;
    }

    .mission-2022 {
        width: 100%;
        padding: 1rem 4rem;
        margin-right: 0;
        margin-bottom: 3.5rem;
        border: .1rem solid #fad7b3;
        border-radius: 1.5rem;
        box-shadow: .5rem .5rem .5rem 0 #353535e5;
        -webkit-box-shadow: 1rem 1rem .5rem 0 #474747fa;
        -moz-box-shadow: 1rem 1rem .5rem 0 #5c5a5abf;
    }

    .illstrators {
        width: 100%;
    }

    .developments-unlimited-2022 {
        display: block;
        height: auto;
        padding: 2rem 8rem;
    }

    .develop-cute-girls {
        width: 100%;
        margin-right: 5rem;
        margin-top: 0rem;
    }

    .development-2022-dwl {
        width: 100%;
    }

    .development-2022-dwl h1 {
        font-family: sans-serif;
        font-weight: normal;
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .container-global-projects {
        width: 100%;
        display: block;
        padding: 2rem 8rem;
        padding-top: 7rem;
        font-weight: normal;
    }

    .global-project-comminiuty-2022 {
        width: 100%;
        margin-top: 3rem;
        margin-right: .5rem;
    }

    .globalproject--img-2022 {
        width: 100%;
        margin-right: 1rem;
        margin-top: 2rem;
    }

    .application-section {
        margin: 0 auto;
        margin-top: 2rem;
    }

    .h1-router-app {
        font-family: sans-serif;
        font-weight: 400;
    }

    .cebac-app {
        width: 100%;
        display: block;
        padding: 2rem 4rem;
        padding-top: 2rem;
    }

    .cebacbd-app-img {
        width: 70%;
        /* background-image: url(../images/shapes/shape-9.png);
        background-repeat: no-repeat;
        background-size: cover; */
        opacity: 2;
        margin: 1rem;

    }

    .cebacbd-app-img img {
        width: 80%;
        margin-left: 1rem;

    }

    .cebacbd-success {
        width: 100%;
        margin: 2rem;
    }

    .cebacbd-success h1 {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
    }

    .cebacbd-peraghraph {
        text-align: justify;
        font-family: sans-serif;
        letter-spacing: 0rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 600px) {
    .intro {
        padding: 0;
        display: block;
        width: 100%;
        padding: 0 2rem;
    }

    .banner-left {
        width: 100%;
    }

    .banner-left img {
        width: 80%;
        height: 80%;
    }

    .myname {
        width: 100%;
    }

    .center {
        text-align: center;
    }

    .myname h1,
    intro-h3 {
        font-weight: 700;
        font-size: 4rem;
        padding-top: 2rem;
    }

    .btn-grad {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        font-weight: normal;
        letter-spacing: 0px;
        padding: 1rem 3rem;

    }

    .intro {
        background-image: url("../image/bg-img/josh-rose-fida.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .service-section {
        background-image: linear-gradient(#020202, #020202);
    }

    .logo {
        width: 30%;
    }

    .section_wrapper {
        width: 100%;
        display: block;

    }

    .container {
        width: 100%;
        display: block;
        height: auto;
        padding: 1rem;
        padding: 5rem;
        padding-top: 8rem;
    }

    .container {
        width: 100%;
        display: block;
        height: auto;
        padding: 1rem;

        padding-top: 2rem;

    }

    .focoused-on-peraghrap {
        font-size: 1.6rem;

    }

    .section_wrapper {
        width: 100%;
        display: block;
        margin-left: 0;

    }

    .mission-2022-outer {
        width: 100%;
        display: block;
        height: auto;
        padding: 1rem 3rem;
        margin-top: 2rem;
    }

    .mission-2022 {
        width: 100%;
        padding: 1rem 4rem;
        margin-right: 0;
        margin-bottom: 3.5rem;
        border: .1rem solid #fad7b3;
        border-radius: 1.5rem;
        box-shadow: .5rem .5rem .5rem 0 #353535e5;
        -webkit-box-shadow: 1rem 1rem .5rem 0 #474747fa;
        -moz-box-shadow: 1rem 1rem .5rem 0 #5c5a5abf;
    }

    .illstrators {
        width: 100%;
    }

    .developments-unlimited-2022 {
        display: block;
        height: auto;
        padding: 2rem 8rem;
    }

    .develop-cute-girls {
        width: 100%;
        margin-right: 5rem;
        margin-top: 0rem;
    }

    .development-2022-dwl {
        width: 100%;
    }

    .development-2022-dwl h1 {
        font-family: sans-serif;
        font-weight: normal;
        margin-top: 3rem;
        margin-left: 2rem;
    }

    .container-global-projects {
        width: 100%;
        display: block;
        padding: 2rem 8rem;
        padding-top: 7rem;
        font-weight: normal;
    }

    .global-project-comminiuty-2022 {
        width: 100%;
        margin-top: 3rem;
        margin-right: .5rem;
    }

    .globalproject--img-2022 {
        width: 100%;
        margin-right: 1rem;
        margin-top: 2rem;
    }

    .application-section {
        margin: 0 auto;
        margin-top: 2rem;
    }

    .h1-router-app {
        font-family: sans-serif;
        font-weight: 400;
    }

    .cebac-app {
        width: 100%;
        display: block;
        padding: 2rem 4rem;
        padding-top: 2rem;
    }

    .cebacbd-app-img {
        width: 70%;
        /* background-image: url(../images/shapes/shape-9.png);
        background-repeat: no-repeat;
        background-size: cover; */
        opacity: 2;
        margin: 1rem;

    }

    .cebacbd-app-img img {
        width: 80%;
        margin-left: 1rem;

    }

    .cebacbd-success {
        width: 100%;
        margin: 2rem;
    }

    .cebacbd-success h1 {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
    }

    .cebacbd-peraghraph {
        text-align: justify;
        font-family: sans-serif;
        letter-spacing: 0rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
        font-size: 1.3rem;
    }

}


@media only screen and (min-width: 600px) {
    .intro {
        background-image: url("../image/bg-img/josh-rose-fida.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .service-section {
        background-image: linear-gradient(#020202, #020202);
    }

    .section_wrapper {
        width: 100%;
        display: flex;

    }

    .container {
        width: 100%;
        display: flex;
        height: auto;
        padding: 1rem;
        padding: 5rem;
        padding-top: 8rem;
    }


}


@media only screen and (min-width: 768px) {
    .intro {
        background-image: linear-gradient(#5959dd, #972cc8);
        background: rgb(219, 105, 155);
    }

    .service-section {
        background-image: linear-gradient(#5959dd, #972cc8);
        background: rgb(219, 105, 155);
    }
}

@media only screen and (min-width: 992px) {
    .intro {
        background-image: linear-gradient(#5959dd, #972cc8);
    }

    .service-section {
        background-image: linear-gradient(#952DC9, #952DC9);
    }

    .logo {
        width: 13%;
    }

    .btn-grad {
        margin-top: 5rem;

    }

    .span-1 {
        font-size: 4.3rem;
        background: -webkit-linear-gradient(#ff2282, #eeaeee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .span-2 {
        font-size: 4.3rem;
        background: -webkit-linear-gradient(#fffb1a, #d50df0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

@media only screen and (min-width: 1200px) {
    .intro {
        background-image: url("../image/bg-img/josh-rose-fida.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .service-section {
        background-image: linear-gradient(#020202, #020202);
    }

    .logo {
        width: 10%;
    }
}