*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(71, 68, 68);
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    list-style-type: none;
}
#container-wrapper{
    width: 100vw;
    height: 100vh;
}
.header{
    background-color:#0078D7 ;
    height: 8rem;
    width: 100vw;
}
 .logo{
    color: azure;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 8rem;
    padding: 0 8rem;
    font-family: monospace;
   
}
.menu ul{
    float: right;
    margin-right: 2rem;
}
.menu ul li{
    display: inline-block;
    margin:0  .5rem ;
    line-height: 8rem;
}
.menu ul li a {
    color: azure;
    padding: .7rem  1.3rem;
    border-radius: 1rem;
    font-size:1.7rem ;
    font-family: monospace;
    text-transform: uppercase;
}
a.active ,a:hover{
    background: #1384ee;
    transition: .5s;
}
.checkbtn{
    font-size: 3rem;
    color: azure;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
display: none;
}
#check {
    display: none;
}
@media (max-width:952px){
label .logo{
font-size: 3rem;
padding-left: 5rem;
}
.menu ul li a{
    font-size: 1.6rem;
}

}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100vw;
        height: auto;
        background-color: rgb(29, 94, 131);
        top: 8rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menu ul li {
        display: block;
        margin: 5rem 0;
        line-height: 1rem;
    }
    .menu ul li a {
        font-size: 2rem;
    }
    a:hover , a.active{
        background: none;
        color: rgb(19, 18, 18);
    }
    #check:checked ~ ul{
        left: 0;
    }
}
